* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(tripple.png);
  background-size: 3000px, 3000px;
	background-repeat: no-repeat;

}

#zentrieren{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height: 870px;
  width: 1000px;
  box-shadow: 0px 0px 56px 11px rgba(0,0,0,0.75);

}

#kopf {
  height: 60px;
  background: black;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  background-position: center;
}

#kopf li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
}

#kopf a {
  color: #FFF;
}

#navi {
  text-align: ;
  padding-top: 20px;
  padding-bottom: 30px;
}

.search_input {
  text-align: center;
}

.search_input input {
  width: 200px;
}

#Inhalt_index {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  height: 870px;
  width: 1000px;



}

#Inhalt_index table {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding-top: 50px;
  overflow: auto;
  overflow-y: hidden;
}

#Inhalt_index th
/*Style der Bilder*/
  {
  width: 400px;
}

#Inhalt_index th img
/*Style der Bilder*/
  {
    border-radius: 10px;
  height: 200px;

}

#Inhalt_index td
/*Style des Textes*/
  {
  width: 400px;
  color: black;
}

.Leerzeile
/*Höhe der Abstände zwischen den einzelnen <tr>*/
{
  height: 50px;
}

#Inhalt_login{
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding-top: 50px;
  height: 870px;
  width: 1000px;
  overflow: auto;
  overflow-y: hidden;
}

#Inhalt_login table{
  margin-left: auto;
  margin-right: auto;
}
#Inhalt_login p{
  text-align: center;
  margin-top: 50px;
}

#FussZeile {
  position: relative;
  bottom:;
  height: 30px;
  padding-top: 15px;
  background-color: #0B0B61;

}

#FussZeile a {
  color: #FFFFFF;
  padding: 15px;
  text-decoration: none;
  width: ;
}
